.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 0.62)'%3e%3c/rect%3e%3cpath d='M0%2c527.723C104.022%2c518.786%2c202.846%2c503.819%2c301.107%2c468.532C424.924%2c424.067%2c579.998%2c408.71%2c646.877%2c295.419C713.724%2c182.182%2c682.776%2c30.228%2c631.278%2c-90.764C585.129%2c-199.19%2c457.049%2c-240.12%2c380.724%2c-329.9C303.329%2c-420.939%2c297.279%2c-588.425%2c181.871%2c-619.395C65.811%2c-650.54%2c-21.26%2c-498.644%2c-137.718%2c-469.023C-261.207%2c-437.614%2c-421.733%2c-533.67%2c-511.338%2c-443.077C-599.303%2c-354.142%2c-531.239%2c-200.738%2c-526.72%2c-75.731C-523.022%2c26.561%2c-518.283%2c124.981%2c-487.274%2c222.53C-452.588%2c331.645%2c-433.333%2c462.517%2c-336.299%2c523.292C-239.323%2c584.031%2c-114.007%2c537.517%2c0%2c527.723' fill='rgba(0%2c 0%2c 0%2c 0.62)'%3e%3c/path%3e%3cpath d='M1440 902.114C1510.791 919.476 1591.627 930.701 1654.047 893.0640000000001 1716.7359999999999 855.265 1735.037 775.155 1762.856 707.444 1789.646 642.239 1832.954 573.969 1812.915 506.383 1793.09 439.51800000000003 1715.931 411.88599999999997 1662.084 367.563 1617.883 331.18 1578.551 290.544 1525.266 269.611 1468.282 247.224 1406.298 227.96800000000002 1347.169 243.846 1287.539 259.859 1252.436 317.086 1204.3319999999999 355.793 1143.804 404.496 1052.415 427.03 1027.894 500.748 1003.279 574.746 1031.521 664.059 1082.025 723.482 1129.85 779.752 1218.163 769.393 1284.241 802.366 1340.548 830.4639999999999 1378.883 887.125 1440 902.114' fill='rgba(0%2c 0%2c 0%2c 0.62)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-attachment: fixed;
}

.container-register-form {
  width: 90%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.147);
  margin: 50px;
}

@media screen and (max-width: 799px) {
  .container-register-form {
    width: 95%;
    margin: 20px;
  }
}

.form-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.login-form-button {
  width: 100%;
}
