.container {
    display: flex;
    width: 900px;
   
    /* display: grid; */
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 0;
    flex-wrap: wrap;
    

}
.item{
    width: 100px;
    height: 100px;
    color: brown;
    
    size: 100px;
}
.gr1{
    background-color: rgb(200, 194, 206);
}
.gr2{
    background-color: rgb(175, 231, 231);
}
.gr3{
    background-color: rgb(116, 219, 166);

}
.gr4{
    background-color: rgb(212, 181, 186);
}
.gr5{
    background-color: rgb(134, 176, 221);
}
.gr6{
    background-color: aliceblue;
}
.gr7{
    background-color: bisque;
}